/*modal pdf*/

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 2400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 2s;
    pointer-events: none;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.modalmask.open {
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: opacity 2400ms ease-in;
    -moz-transition: opacity 2400ms ease-in;
    transition: opacity 2s;
    padding-right: 0;
}

.modalbox {
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.resize {
    margin: 0 auto;
    width: 0;
    height: 0;
}

.modalmask.open .resize {
    /* max-width: 800px; */
    width: 800px;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin-bottom: 20px;
}

.modal-close {
    background: rgb(255 255 255 / 0);
    color: #FFF;
    line-height: 25px;
    /* position: absolute; */
    /* right: 0px; */
    text-align: center;
    top: auto;
    /* width: 24px; */
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px;
    font-size: 11px;
    /* position: absolute; */
}

.modal-close:hover {
    background: rgba(255 255 255 / .3);
    color: #fff in !important;
}

.modal-close i {
    color: white;
    line-height: 24px;
    font-size: 24px;
}

.hide {
    display: none;
}

#the-canvas {
    width: 100%;
}

.tool-bar {
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Google Sans', Roboto, arial, sans-serif;
}

.modal-document-tittle {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0;
}

.modal-document-tittle i {
    color: #ea4335;
}

body.modal-open {
    overflow: hidden;
}

a:not([href]) {
    cursor: pointer;
}

.modal-btn {
    position: fixed;
    top: 49%;
    color: #000;
    font-size: 2rem;
    z-index: 10000;
    /* background-color: #fff; */
}

.modal-btn:hover {
    color: #4885f4;
    cursor: pointer;
}

.modal-btn.next {
    right: 30px;
}

.modal-btn.prev {
    left: 15px;
}

.container-zoom-bar {
    position: fixed;
    width: 100%;
    bottom: 10px;
    z-index: 10000;
}

#zoom-bar {
    background-color: #000000Bf;
    height: 44px;
    width: 275px;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.zoom-bar .paginate {
    border-right: solid 1px rgba(255, 255, 255, .2);
    width: 60%;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 13px
}

.zoom-bar .zoom-buttons,
.zoom-bar .paginate {
    display: flex;
    justify-content: space-between;
}

.zoom-bar .btn-search {
    color: white;
    font-size: 17px;
    padding: 10px;
}

.zoom-bar .zoom-buttons {
    padding: 2px 5px;
}

.zoom-bar .btn-search:hover {
    background-color: rgba(255 255 255 / .3);
    border-radius: 3px;
    cursor: pointer;
}

#page_num {
    width: 40px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    font-weight: bold;
    outline: none;
}

#page_num::-webkit-inner-spin-button,
#page_num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

@media only screen and (max-width: 799px) {
    .modalmask.open .resize {
        width: 90%;
        margin-bottom: 0;
    }
    .modal-btn.next {
        right: 15px;
    }
    #zoom-bar {
        width: 275px;
    }
    .zoom-bar .zoom-buttons {
        display: none;
    }
    .zoom-bar .paginate {
        width: 100%;
        border: none;
    }
    #zoom-bar {
        width: 180px;
    }
}

@media only screen and (max-width: 568px) {
    .modalmask.open .resize {
        margin-top: 30%;
    }
}


/* spiner modal pdf */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
